.input {
    height: 75px;
    border-radius: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    background-color: #babad8;
    color: black;
    padding: 11px 30px 11px 11px;
    margin: 1px solid #888;
    border: black solid 3px;
}