.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #161616;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-calculadora {
  width: 400px;
  height: 625px;
  padding: 14px;
  background-color: #0e0e0e;
  border-radius: 20px;
  border: 6px solid black;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}